<template>
	<div v-if="show" class="loader" :class="{ infinite: infinite }">
		<div class="loader-inner ball-pulse">
			<div />
			<div />
			<div />
		</div>
	</div>
</template>

<script>
export default {
	name: 'Loader',

	props: {
		show: { type: Boolean, default: false },
		infinite: { type: Boolean, default: false }
	}
}
</script>
