.text__highlight.active {
	background: orangered;
}

@media screen and (max-width: 1919px) {
	html {
		font-size: 37.5%;
	}
}

@media screen and (min-width: 1920px) {
	html {
		font-size: 62.5%;
	}
}
