.profile_header {
	height: 10rem !important;
	padding: 0 30px !important;
}

#hubspotContent {
	background: #fff;
}

.hs-icon-container {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 12px 16px;
	border-bottom: 1px solid rgb(210, 209, 209)
}

.view-contact {
	font-size: 20px;
	font-weight: 500;
}

.hs-icon-container img {
	width: 48px;
	height: 48px;
	cursor: pointer;
}

.iconsList {
	padding: 18px 0;
}

.nav-justified-right-sidebar {
	list-style: none;
	display: flex;
	padding: 0;
	justify-content: space-between;
}

#tabContainer .container {
	padding: 0;
}

.nav-link-right-sidebar {
	padding: 17px 9px;
	border-radius: 50%;
}

.tab-content-group-value-email>div {
	display: flex;
	gap: 2.9rem;
}

.heading-number {
	margin: 0%;
	text-align: center;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 23px;
}

.activeRightSidebar {
	background: rgba(2, 168, 132, 0.2);
	padding: 19px 9px !important;
}

.create-tab-modal_overlay {
	background: rgba(0, 0, 0, .3);
	backdrop-filter: blur(2px);
}

.tab-body {
	background: #F0F2F4;
	padding: 11px 23px 11px 18px;
	height: calc(100vh - 24rem - 150px);
	overflow-y: scroll;
}

.tab-content-group-left {
	width: 100%;
	position: relative;
}

.name-right-sidebar {
	font-size: 20px;
	font-weight: 400;
}

.phone-right-sidebar {
	font-size: 18px;
}

.content-email {
	color: #1587BA !important;
	font-size: 18px !important;
}

.tab-content-group {
	display: flex;
	align-items: center;
	padding: 12px 0;
}

.heading-div,
.tab-content-group-value {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.heading-div {
	width: 100%;
}

.tab-content-group-value span,
.heading-span {
	font-size: 16px;
	font-weight: 700;
	color: #50616C;
	cursor: pointer;
}

.content-value-right-sidebar {
	font-size: 20px !important;
	font-weight: 400 !important;
}

.pencil-right-bar {
	width: 12.15px;
	height: 12.15px;
}

.save-right-bar {
	position: absolute !important;
	right: 3px !important;
	width: 18px;
	height: 18px;
	margin-top: 16px;
}

.profile-heading {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.add-contact-hubspot {
	text-align: center;
	margin-top: 32px;
}

.add-contact-to-hubspot {
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	background: #FF725E;
	padding: 12px 34px;
	border-radius: 4px;
	color: #fff !important;
}

.add-contact-to-hubspot:hover {
	text-decoration: none;
}

.readOnlyInput {
	width: 85% !important;
	font-size: 16px !important;
	padding: 7px 12px !important;
	margin-top: 9px;
}

.dropdown-right-sidebar {
	font-size: 16px !important;
	color: #86A0BC !important;
	padding: 7px 9px;
	font-weight: 500;
	width: 85% !important;
	margin-top: 8px !important;
}

.heading-span img {
	width: 31.5px;
	height: 31.5px;
}

::-webkit-scrollbar-thumb {
	background: #007BFF;
}

.notes-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
}

.notes-group label {
	font-size: 16px;
	font-weight: 500;
}

.profile-heading img {
	width: 36px !important;
	height: 36px !important;
	cursor: pointer;
}

.select-dropdown {
	width: 100%;
}

.inner-loader {
	position: initial;
}